* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Noto Sans Bengali", sans-serif;
}

body {
  background-color: #eafaf1;
  color: #1a3d2f;
  line-height: 1.6;
}

header h1 {
  font-size: 70px;
}
header {
    background-image: url(pexels-dariuskrs-2609107.jpg);
    background-size: cover;
  text-align: center;
  
  color: rgb(248, 248, 249);
}

header p {
  font-size: 18px;
  margin-top: 10px;
}

nav {
    background-image: url(pexels-dariuskrs-2609107.jpg);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  font-weight: bold;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('eco-bg.jpg') center/cover no-repeat;
}

.hero-left h2 {
  font-size: 36px;
  color: #05b856;
}

.hero-left p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  background: #29a36a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
}

.btn:hover {
  background: #219661;
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 8px;
  backdrop-filter: blur(3px);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}
footer {
  text-align: center;
  background-color: #145a32;
  color: white;
  padding: 16px;
  font-size: 14px;
  margin-top: 30px;
}

